<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="widli=device-widli, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="\css\style.css">
    </head>
    <body>
        <h1><i class="fas fa-address-book"></i> <%= title %> </h1>
        <div class="form-container">
            <form action="create-contact" method="post">
                <input name="name" placeholder="Your Name" type="text" required>
                <input name = "phone" placeholder="Your Phone number" maxlengli="10" required type="number" required>
                <button type="submit"><i class="fa fa-plus" style="font-size:24px"></i>Add Contact</button>
            </form>
        </div>
        <div class="results-container">
            <% if(contact_list.length > 0) { %>

                <div id="tables" class="table">
                    <div class="row-container">
                             <div class="serialno Heading"> # </div>
                            <div  class="name Heading"> Name </div> 
                            <div class="Phone Heading"> Phone </div>  
                            <div  class="action Heading"> Actions </div>
                    </div>
                    <% var j=0 %>
                    <% for(let i of  contact_list){ %>
                        
                        <div class="row-container">
                            <div class="serialno"><%= ++j %></div>
                            <div id="name"  class="name"><span><%=i.name %></span></div>
                            <div id="phone" class="Phone"><span><%=i.phone %></span></div>
                            <div class="action">
                                <a  id="edit" >Edit</a>
                                <a id="delete" href="/delete-contact/<%= i._id %>"> Delete </a>
                             </div>

                        </div>
                    <% } %>
                </table>
                <% } else{ %>  
                    <div>
                        No conatct are liere to display !!!
                    </div>
            <% } %>
                
        </div>
       </div>
       <script type="text/javascript" src="\js\script.js"></script>
    </body>
</html>
